mainmenu "Rageutils Configuration"

menu "General Bot Configuration"
config TOKEN
    string "Bot Token"
    default ""
    help
        Discord bot token.

config SERVER_ID
    int "Server ID"
    default ""
    help
        ID of the Discord server you want to deploy the bot on.

endmenu
